absl-py==2.1.0
accelerate==1.4.0
addict==2.4.0
aenum==3.1.15
aesthetic-predictor-v2-5==2024.12.18.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
airportsdata==20250224
albucore==0.0.23
albumentations==2.0.5
aniso8601==10.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
args==0.1.0
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
async-lru==2.0.4
attrs==25.1.0
av==14.2.0
babel==2.16.0
beartype==0.20.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.2
black==25.1.0
blake3==1.0.4
bleach==6.1.0
blessed==1.20.0
blinker==1.9.0
boto3==1.36.26
botocore==1.36.26
braceexpand==0.1.7
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cachetools==5.5.2
certifi==2024.8.30
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
# Editable Git install with no remote (clip==1.0)
-e /storage/qiguojunLab/qiguojun/src/clip
cloudpickle==3.1.1
cmake==3.31.4
codewithgpu==0.2.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
colorlog==6.9.0
colorsysx==1.1
comm==0.2.2
compressed-tensors==0.9.2
contextlib2==21.6.0
contourpy==1.3.0
controlnet_aux==0.0.7
cpm-kernels==1.0.11
cupy-cuda12x==13.3.0
cycler==0.12.1
Cython==3.0.12
dashscope==1.22.1
DataProperty==1.1.0
datasets==3.3.2
debugpy==1.8.11
decorator==4.4.2
decord==0.6.0
deepspeed @ file:///storage/qiguojunLab/fangxueji/Projects/nips25/toy_rl/deepspeed-0.16.4.tar.gz#sha256=495febfb6dd20423f44b1c4a1bb6da2cadbcaf9b07962e17f87d52edfeec9bba
defusedxml==0.7.1
depyf==0.18.0
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@9604f5995cc628619f0e4fd913453b4d7d61db3f
diffsynth==1.1.2
diffusers==0.33.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
DistVAE==0.0.0b5
dnspython==2.7.0
docker-pycreds==0.4.0
easydict==1.13
einops==0.8.0
einx==0.3.0
email_validator==2.2.0
et_xmlfile==2.0.0
executing==2.1.0
facexlib==0.3.0
fairscale==0.4.13
fastapi==0.115.8
fastapi-cli==0.0.7
fastjsonschema==2.20.0
fastrlock==0.8.3
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
filetype==1.2.0
filterpy==1.4.5
fire==0.4.0
fla @ file:///storage/qiguojunLab/fangxueji/Projects/toy/native-sparse-attention
flash_attn @ file:///storage/qiguojunLab/fangxueji/Projects/rl_long/flash_attn-2.7.3.tar.gz#sha256=9078cf92355c4e3f77f01626ece8c71aad26bdbfa827c2af8c6ac5632cc1cc58
flashinfer-python==0.2.0.post2
Flask==3.1.0
Flask-RESTful==0.3.10
flatbuffers==25.2.10
fonttools==4.55.2
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fschat==0.2.36
fsspec==2024.6.1
ftfy==6.3.1
funcsigs==1.0.2
future==1.0.0
fvcore==0.1.5.post20221221
gdown==5.2.0
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462545272/work
gpustat==1.1.1
gradio==5.30.0
gradio_client==1.10.1
graphviz==0.20.3
groovy==0.1.2
grpcio==1.68.1
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf_transfer==0.1.9
hjson==3.1.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hpsv2==1.2.0
hpsv2x==1.2.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.30.2
humanfriendly==10.0
hydra-core==1.3.2
hyper-connections==0.1.15
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.7
image-reward==1.5
imageio==2.37.0
imageio-ffmpeg==0.5.1
imgaug==0.4.0
importlib_metadata==8.5.0
inflect==7.4.0
iniconfig==2.0.0
insightface==0.7.3
interegular==0.3.3
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
kornia==0.7.3
kornia_rs==0.1.5
lark==1.2.2
latex2mathml==3.77.0
latex2sympy2_extended==1.0.6
lazy_loader==0.4
lightning==2.5.1
lightning-utilities==0.11.8
llguidance==0.7.11
llvmlite==0.43.0
lm-format-enforcer==0.10.11
lmdb==1.6.2
local-attention==1.11.1
loguru==0.7.2
lvis==0.5.3
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mbstrdecoder==1.1.4
mdurl==0.1.2
mistral_common==1.5.4
mistune==3.0.2
ml_collections==0.1.1
modelscope==1.23.1
more-itertools==10.5.0
moviepy==1.0.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nh3==0.2.21
ninja==1.11.1.1
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.21.1
open-clip-torch==2.24.0
openai==1.70.0
openai-clip==1.0.1
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
optimum-quanto==0.2.6
orjson==3.10.18
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878443020/work
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pathspec==0.12.1
pathvalidate==3.2.3
peft==0.14.0
pexpect==4.9.0
pillow==10.4.0
pillow_heif==0.22.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==2.10.1
prettytable==3.16.0
proglog==0.1.10
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.3.0
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pv==0.1.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pycocoevalcap==1.2
pycocotools==2.0.8
pycountry==24.6.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.10.1
pydantic_core==2.27.1
pydub==0.25.1
Pygments==2.19.1
pyiqa==0.1.10
pynvml==12.0.0
pyparsing==3.2.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytablewriter==1.2.1
pytest==7.2.0
pytest-split==0.8.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.1.0
python-json-logger==2.0.7
python-multipart==0.0.20
pytorch-lightning==2.4.0
pytorch-triton==0.0.1
pytorchvideo==0.1.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq==26.2.0
qwen-vl-utils==0.0.8
ray==2.44.1
referencing==0.35.1
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.4
rich-toolkit==0.14.1
roboflow==1.1.64
rotary-embedding-torch==0.8.6
rouge_score==0.1.2
rpds-py==0.20.0
ruff==0.11.10
s2wrapper @ git+https://github.com/bfshi/scaling_on_scales.git@9c008a37540e761f53574b488979db6e49a64312
s3transfer==0.11.3
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.5.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.20.0
setproctitle==1.3.3
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
simplejson==3.19.3
simsimd==6.2.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.45.3
stringzilla==3.12.5
sty==1.0.6
supervision==0.25.1
svgwrite==1.4.3
SwissArmyTransformer==0.4.12
sympy==1.13.1
T2IBenchmark @ git+https://github.com/boomb0om/text2image-benchmark@532229f679d7e97ecba61914db7276f95733e707
t2v_metrics==1.2
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2025.2.18
tiktoken==0.9.0
timm==0.6.13
tinycss2==1.3.0
tokenizer==3.4.5
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.5.0
torchaudio==2.6.0
torchmetrics==1.6.1
torchvision==0.20.0
torchviz==0.0.3
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.51.3
triton==3.1.0
trl==0.14.0
typeguard==4.3.0
typepy==1.3.4
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata==2024.2
unsloth==2025.2.15
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn==0.34.0
uvloop==0.21.0
validators==0.34.0
vbench==0.1.5
wandb==0.19.8
watchfiles==1.0.4
wavedrom==2.0.3.post3
wcwidth==0.2.13
webcolors==24.8.0
webdataset==0.2.100
webencodings==0.5.1
WebOb==1.4.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
xformers==0.0.28.post2
xfuser==0.4.1
xgrammar==0.1.16
XlsxWriter==3.2.2
xxhash==3.5.0
yacs==0.1.8
yapf==0.43.0
yarl==1.18.3
yunchang==0.6.0
zipp==3.21.0
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296105118/work
